services: 
  #postgresql container 
  postgres: 
    image: postgres:15-alpine 
    container_name: leafy_db
    restart: always 
    environment: 
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: prashant123
      POSTGRES_DB: leafy_db
    ports: 
      - "5433:5432" 
    volumes: 
      - postgres_data:/var/lib/postgresql/data 
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks: 
      - leafy_network
    healthcheck: 
      test: ["CMD-SHELL", "pg_isready -U postgres"] 
      interval: 30s 
      timeout: 5s 
      retries: 5 

  backend: 
    build: 
      context: ./backend
      dockerfile: Dockerfile
    container_name: leafy_backend 
    restart: always 
    environment: 
      DB_HOST: postgres 
      DB_USER: postgres 
      DB_PASSWORD: prashant123
      DB_NAME: leafy_db
      DB_PORT: 5432
      NODE_ENV: production 
    depends_on: 
      postgres: 
        condition: service_healthy 
    networks: 
      - leafy_network 
    volumes: 
      - ./backend:/app
      - /app/node_modules

  frontend: 
    build: 
      context: ./LeafyPlants
      dockerfile: Dockerfile
    container_name: leafy_frontend 
    restart: always 
    ports: 
      - "3000:80" 
    depends_on: 
      - backend
    networks:
      - leafy_network

networks: 
  leafy_network: 
    driver: bridge

volumes:
  postgres_data:


  
